<div class="container" style="margin-top: 5%">
  <h2 class="display-4 text-center">Welcome to Afghanistan</h2>
  </div>
  <hr class="new1">
  <div class="row">
   <div class="col" style="margin-right: 17%;margin-left: 19%; margin-top: 5%; font-size: 20px">
    Throughout its history, Afghanistan has been a country united against invaders but divided against itself. Its allure, spread by Great Game romantics and travel literature alike, has only been heightened by its inaccessibility over the last 30 years. 
    </div>
  </div>
  <div class="container" style="margin-top: 3%">
    <div class="col text-center">
  <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#demo" style="" >Read More
  </button>
  <div  id="demo" class="collapse containers">
    <p style="margin: 5%; font-size: 20px">The most recent cycle of violence started with the Soviet invasion of 1979, a bloody 'David and Goliath' conflict, with the underdogs eventually besting the superpower. But the war's dividend wasn't peace, but a ruinous civil war – a morass that came back to haunt the West in the shape of the medieval Taliban. The subsequent ousting of the Taliban promised another new start, but Afghanistan's rebirth as an infant democracy has been troubled at best. Despite early promise, stability has proved difficult to find, with patchy reconstruction and the south of the country in particular bleeding from a deep-rooted insurgency.
  
  Yet before all this bloodshed, Afghanistan had formed part of the original overland hippie trail, beguiling its visitors with great mountain ranges, a rich mix of cultures – and the Afghan people themselves, who greeted all with an easy charm and ready hospitality.
  
  A battered, but beautiful and proud country, Afghanistan's road to recovery lies as strewn with pitfalls as ever, and the resilience of its people remains under strain.</p>
  </div>
  </div>
  </div>