<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <a class="navbar-brand" href="#">
    <img src='./assets/images/Logo.png' height="60px" />
    AfghanLarkhod
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/geography">Geography</a>
      </li>
      <li class="nav-item" *ngIf="this.User.checkIfLoggedIn()">
        <a class="nav-link" href="/my-bookings" >My Bookings</a>
      </li>
      <li class="nav-item" *ngIf="this.User.checkIfLoggedIn()">
        <a class="nav-link" (click)="this.User.signOut()" >Sign Out</a>
      </li>
      <li class="nav-item" *ngIf="!this.User.checkIfLoggedIn()">
        <a class="nav-link" href="/log-in">Sign In</a>
      </li>
    </ul>
  </div>
</nav>