
.header-title{
    font-size: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.header-subtitle{
    font-size: 20px;;
}

.carousel-caption{
    bottom: 30%;
}

@media only screen and (max-width: 600px) {
    .header-title{
        font-size: 48px;
    }
  }