<div class="container-fluid p-0">
  <div class="row">
    <div id="demo" class="carousel slide carousel-fade col-12 p-0" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" 
        style="
        background-image: url('./assets/images/111.jpg'); 
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center; 
        height: 600px;
        width: 100%">
          <div class="carousel-caption">
          <p class="header-title">Afghanistan</p>
          <p class="header-subtitle">Image by Olivier Blaise / Getty Images</p>
        </div>
      </div>
        <div class="carousel-item container-fluid" 
        style="
        background-image: url('./assets/images/112.jpg'); 
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
        width: 100%">
          <div class="carousel-caption">
          <p class="header-title">Afghanistan</p>
          <p class="header-subtitle">Image by Jalil Yosufi / 500px Images</p>
        </div>
        </div>
      </div>	
      </div>
  </div>
</div>