hr.new1 {  border-top: 2px solid red; width:30px}

.star {
      font-size: 2.5rem;
      color: #b0c4de;
    }
    .filled {
      color: #1e90ff;
    }
    .bad {
      color: #deb0b0;
    }
    .filled.bad {
      color: #ff1e1e;
    }