<img src={{headerImage}} width="100%" class="headerImageCss"/>
<h4 class="display-4 text-center mt-4 text-capitalize">{{title}}</h4>
<hr class="new1">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="font-weight-light">
        {{description}}
      </h2>
      <hr class="simple">
      <h4 class="font-weight-light">
        Written by: {{createdBy}}
        <br />
        {{createdAt}}
      </h4>
    </div>
  </div>
</div>
<app-cuisines-multi-card></app-cuisines-multi-card>