<h4 class="display-4 text-center mt-4">Log In</h4>
<hr class="new1">
<div class="container">
  <div class="row">
    <div  class="col-md-3">
    </div>
    <div class="col-md-6 card shadow-sm p-3">
      <form #loginForm="ngForm" (ngSubmit)="submit(loginForm.form);">
        <label>
          Email:
        </label>
        <input type="email" class="form-control" email name="email" ngModel #emailField="ngModel" required
          minlength="3">
        <div class="alert alert-danger my-1" *ngIf="emailField.touched && emailField.errors">
          Invalid Email.
        </div>
        <br />
        <div class="form-group ">
          <label>Password:</label>
          <input required minlength="6" maxlength="30" ngModel name="Password" type="password" class="form-control"
            #Password='ngModel'>
          <div class="alert alert-danger" *ngIf="Password.touched && !Password.valid">
            <div *ngIf="Password.errors.required">Password is required.</div>
            <div *ngIf="Password.errors.minlength">Minimum length is '8' characters</div>
            <div *ngIf="Password.errors.maxlength">Maximun length is '30' characters</div>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error">
          {{error}}
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid || hidden">Log in</button>
      </form>
      <p>
        <br>
        Don't have an account? Please <a routerLink='/sign-up'>Sign up</a>
      </p>
    </div>
  </div>
</div>