<section class="sample-text-area">
  <div class="container">
    <h3 class="text-heading title_color">Geography and Climate</h3>
    <p class="sample-text">
      Afghanistan is made up of rugged mountainous terrain, with deep valleys and majestic mountains. In a
      country with a relatively dry climate and limited rainfall, the mountains are also the most important
      source of water.
    </p>
      <br>
      <div class="text-center">
        <img src="./assets/images/elements/1.jpg" alt="" class="img-fluid" width="60%">
      </div>
    <br>
    <h4 class="text-heading title_color">Landscape and borders</h4>
    <p class="sample-text">
      The Hindu Kush Mountains run from the eastern border with China and Pakistan, extending west across
      Afghanistan, separating the northern provinces from the rest of the country. Afghanistan’s highest peak
      is called Noshaq and is 7,492 meters high. The capital city Kabul lies at 1,800 meters above sea level,
      nested between high mountains that are snow-capped well into spring.
    </p>
    <div class="text-center">
      <div class="container border-top-generic">
        <div class="button-group-area mt-40">
          <a href="http://www.afghanistan.no/English/Afghanistan/Geography_and_climate/index.html"
            class="genric-btn info circle arrow">Study More...<span
              class="lnr lnr-arrow-right"></span></a>
        </div>
      </div>
      <p>
        <br><br>
        <img src="./assets/images//elements/2.jpg" alt="" class="img-fluid" width="60%">
      </p>
    </div>
    <p>
      Afghanistan is landlocked, with long and porous borders to Pakistan and Iran, where the distance between
      border posts make border control a difficult task. In the north, Afghanistan borders with the Central
      Asian republics of Turkmenistan, Uzbekistan and Tajikistan. Last but not least, a thin stretch of
      mountainous land, the Wakhan corridor, connects Afghanistan with China. It was set up as a buffer zone
      between the Russian and the British empires in the 19th century.
    </p>
    <h4 class="text-heading title_color">Increasing Challenges</h4>
    <p class="sample-text">
      Drought, soil erosion and lack of clean drinking water are major problems for the population. However,
      not all Afghans suffer from water shortage. In the north, the low-lying plains have relatively fertile
      soil, and water springs that are filled with water from the Hindu Kush. Previously, sizeable areas of
      the Hindu Kush were covered in lush forests, particularly in the north and east. The most common trees
      found in the country include hazel, juniper, walnut, wild peach, almond, oak, olive trees, maple,
      mulberry, willow, ash and many others. However, during the last decades, much of Afghanistan’s forest
      has been destroyed. In the east of the country, the forests have been decimated by extensive illegal
      logging, and much of the timber is exported to neighbouring Pakistan. Other causes of deforestation are
      the collection of firewood and grazing animals that eat small shoots, preventing the forest from
      renewing itself. As a result, a large share of Afghanistan’s land is subject to soil erosion, which
      further aggravates the deforestation and destruction of pastureland.
    </p>

  </div>
</section>
<!-- End Sample Area -->


<!-- Start Align Area -->
<div class="whole-wrap">
  <div class="container">
    <div class="section-top-border">
      <h3 class="mb-30 title_color">Climate</h3>
      <div class="row">
        <div class="col-md-3">
          <img src="./assets/images/elements/3.jpg" alt="" class="img-fluid" style="height: 250px; width:400px">
        </div>
        <div class="col-md-9 mt-sm-20 left-align-p">
          <p>The distance from the sea gives Afghanistan a typical inland climate, arid and semiarid
            steppe with hot summers and cold winters. The lower parts of the country have a semi-arid or
            desert climate. Along the border with Iran hot, dry, dusty winds are among the most
            unpleasant features of the summer weather. Temperatures often swing considerably within a
            single day, as much as from frost at dawn to close to 40°C. Summer is hot everywhere in the
            country, although the temperatures are less severe at higher altitudes. </p>

          <p>
            Winter can get very harsh, particularly in the mountain regions. Some areas are isolated
            from autumn’s first snow fall until the spring thaw has melted the snow again. In the most
            severe cases, this can mean up to and beyond six months a year. Weather is most volatile
            during winter and spring and most of the annual precipitation falls at this time. The
            influence of the Mediterranean Sea reaches all the way to Afghanistan, sending depressions
            that bring the winter precipitation. The high mountains to the south and east shield
            Afghanistan from the summer rains brought to India and parts of Pakistan by the southwest
            monsoon. Almost no rain falls from June to October. Sunshine ranges from six to seven hours
            a day in winter to as much as twelve to thirteen in summer.
          </p>
        </div>
      </div>
    </div>
    <div class="section-top-border">
      <h3 class="mb-30 title_color">Extra Information</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Religion</h4>
            <p>Afghanistan is an Islamic republic where Islam is practiced by 99% of its citizens. As
              high as 90% of the population follow Sunni Islam. The remaining are Shias. Apart from
              Muslims, there are also small minorities of Sikhs and Hindus.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Currency</h4>
            <p>In 2002, the afghani was denominated, and it received new ISO 4217 code AFN. No
              subdivisions were issued. It replaced the previous afghani at two distinct rates -
              issues of the government of former President Rabbani (de jure 1992-2001) were replaced
              at a rate of 1,000 to the new afghani, whilst the issues of warlord Dostum (1992–1997 in
              northern Afghanistan) were replaced at a rate of 2,000 to the new afghani. It was
              created in an effort to stabilize the economy and stop the rapid inflation. The notes
              were printed in Germany.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Languages</h4>
            <p>Afghanistan is a multilingual country in which two languages – Dari and Pashto – are both
              official and most widely spoken. Both Persian and Pashto are Indo-European languages
              from the Iranian languages sub-family. Other regional languages, such as Uzbek, Turkmen,
              Balochi, Pashayi and Nuristani, are spoken by minority groups across the country.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-top-border">
      <h3 class="mb-30 title_color">Pietra Brettkely Says about Afghans:</h3>
      <div class="row">
        <div class="col-lg-12">
          <blockquote class="generic-blockquote">
            “In the Afghan people, I found the most resilient, welcoming people who, for the first time
            in my career, never judged me over my right to tell the this story - as a woman or
            foreigner. A people who cherish their culture and history and the films that have captured
            that culture.”
          </blockquote>
        </div>
      </div>
    </div>
    <div class="section-top-border">
      <h3 class="mb-30 title_color">Neighbourhood Countries </h3>
      <div class="progress-table-wrap">
        <div class="progress-table">
          <div class="table-head">
            <div class="serial">#</div>
            <div class="country">Countries</div>
            <div class="visit">Border Area</div>
          </div>
          <div class="table-row">
            <div class="serial">01</div>
            <div class="country"> <img src="./assets/images/elements/1.png" alt="flag">Pakistan</div>
            <div class="visit">1510 Miles </div>
          </div>
          <div class="table-row">
            <div class="serial">02</div>
            <div class="country"> <img src="./assets/images/elements/f6.jpg" alt="flag">China</div>
            <div class="visit">220 Miles</div>
          </div>
          <div class="table-row">
            <div class="serial">03</div>
            <div class="country"> <img src="./assets/images/elements/2.png" alt="flag">Iran</div>
            <div class="visit">908 Miles</div>
          </div>
          <div class="table-row">
            <div class="serial">04</div>
            <div class="country"> <img src="./assets/images/elements/3.png" alt="flag">Tajikistan</div>
            <div class="visit">810 Miles</div>
          </div>
          <div class="table-row">
            <div class="serial">05</div>
            <div class="country"> <img src="./assets/images/elements/4.png" alt="flag">Uzbekistan</div>
            <div class="visit">89 Miles</div>
          </div>
          <div class="table-row">
            <div class="serial">06</div>
            <div class="country"> <img src="./assets/images/elements/5.png" alt="flag">Turkmenistan</div>
            <div class="visit">462 Miles</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Align Area -->

<!--================Instagram Area =================-->
<section class="instagram_area">
  <div class="container box_1620">
    <div class="insta_btn">
      <a class="btn theme_btn" href="https://www.instagram.com/toot.afofficial">Follow us on instagram</a>
    </div>
    <div class="instagram_image row m0">
      <a href="#"><img src="./assets/images//instagram/1.jpg" alt=""></a>
      <a href="#"><img src="./assets/images//instagram/2.jpg" alt=""></a>
      <a href="#"><img src="./assets/images//instagram/3.jpg" alt=""></a>
      <a href="#"><img src="./assets/images//instagram/4.jpg" alt=""></a>
      <a href="#"><img src="./assets/images//instagram/5.jpg" alt=""></a>
      <a href="#"><img src="./assets/images//instagram/6.jpg" alt=""></a>
    </div>
  </div>
</section>
<!--================End Instagram Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area">
  <div class="container">
    <div class="row footer_inner">
      <div class="col-lg-6 col-sm-6">
        <aside class="f_widget ab_widget">
          <div class="f_title">
            <h3>About Me</h3>
          </div>
          <p>Do you want to be even more successful? Learn to love learning and growth. The more effort
            you put into improving your skills,</p>
        </aside>
      </div>
      <div class="col-lg-6">
        <aside class="f_widget social_widget">
          <div class="f_title">
            <h3>Follow Me</h3>
          </div>
          <p>Let us be social</p>
          <ul class="list">
            <li><a href="https://www.facebook.com/ahmadshabir.khanjani/"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://twitter.com/tootafofficial"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCA4TrwbEMjhxOOFC8ho6vJA"><i
                  class="fa fa-youtube"></i></a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</footer>
<!--================End Footer Area =================-->
