<div class="container-fluid">
  <div class="row border-bottom py-3">
    <div class="col-md-3">
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-4 text-center">
          <a class="text-dark" href="/attractions">Attractions</a>
        </div>
        <div class="col-4 text-center">
          <a class="text-dark" href="/cultural-dresses">Cultural Dresses</a>
        </div>
        <div class="col-4 text-center">
          <a class="text-dark" href="/cuisines">Cuisines</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>