<div class="floater">
  <ng-container *ngIf="!showChatboolean">
    <button type="button" class="btn btn-info btn-circle btn-xl" (click)="showChat()"><i class="fa fa-comments-o"></i>
    </button>
  </ng-container>
  <ng-container *ngIf="showChatboolean">
    <div style="position: relative;">
    <iframe width="250" height="400"
      src="https://console.dialogflow.com/api-client/demo/embedded/a39704b6-ce4f-4740-bbe7-a2a0fb165053">
    </iframe>
    <button type="button" class="btn btn-info btn-circle buttonFloater" (click)="hideChat()"><i class="fa  fa-times"></i>
    </button>
  </div>
  </ng-container>
</div>
